.DS_Store
.git
.jshintrc
.sass-cache
css/
sass/
error
secret.json
*~
*.old
old/
temp_db/
package-lock.json
package.json
database_info.yaml
vendor/
.bundle/
Gemfile.lock
local_passwd.yaml
js/*_min.js
js/*_concated.js
ruby/plan/
ruby/secret.json
ruby/task_inserter.rb
ruby/task_list.yaml
ruby/task_relation.yaml
