.DS_Store
.git
.jshintrc
.sass-cache
css/
error
*~
sass/
*.old
temp_db/
node_modules/
gulpfile.js
package-lock.json
package.json
database_info.yaml
vendor/
.bundle/
Gemfile.lock
local_passwd.yaml
js/*_min.js
js/*_concated.js
